html, body {
  overflow: hidden;
  height: 100%; }

a {
  color: white; }

a:hover {
  color: white;
  background-color: grey;
  font-weight: bold;
  text-shadow: 1px 1px cyan; }

.raillures {
  position: absolute;
  height: 2%;
  width: 100%;
  bottom: 20%;
  opacity: 0.7; }

.raillures2 {
  position: absolute;
  width: 100%;
  height: 2%;
  opacity: 0.7;
  bottom: 20%;
  transform: rotatez(100deg);
  right: -30%; }

.couleur1 {
  background-color: #f2da07;
  height: 50%;
  width: 100%; }

.couleur2 {
  background-color: #f45d01;
  height: 50%;
  width: 100%;
  bottom: 0px; }

.couleur3 {
  background-color: #f2da07;
  height: 50%;
  width: 100%; }

.couleur4 {
  background-color: #f45d01;
  height: 50%;
  width: 100%;
  left: 50%; }

.bouton {
  height: 40px;
  color: white;
  border: 1px solid white;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  overflow: auto; }

.bouton:hover {
  background-color: #000000;
  color: white;
  animation-name: increase;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }

@keyframes increase {
  0% {
    height: 40px; }
  100% {
    height: 200px; } }
.background {
  background-color: white;
  height: 30px; }

.titre {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  color: #f2da07;
  top: 10%;
  left: 1%;
  position: absolute;
  text-shadow: 1px 1px #f45d01; }

.deroulant {
  max-width: 100%;
  height: 700px; }

#competences {
  padding: 5%;
  padding-top: 0px;
  margin-top: 20%;
  height: 100%;
  background-size: cover;
  background-color: #91f5ad; }

.competence {
  margin-top: 20%;
  padding: 2%;
  padding-bottom: 5%; }

.icon {
  height: 40px;
  width: 250px;
  margin: 50px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  color: black; }

.logo {
  width: 50px;
  height: 50px; }

.petit_logo {
  width: 30px;
  height: 30px; }

#parcours {
  font-family: "Amatic SC", cursive;
  font-size: 35px;
  background-color: #bb999c;
  height: 100%; }

.parcours {
  height: 100%;
  position: relative;
  margin-top: 10%; }

.taf {
  height: 100px; }

.mySlides {
  max-width: 100%; }

.w3-content {
  height: 500px; }

.info {
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  font-size: 35px; }

.recap {
  padding-top: 5%;
  text-align: center;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  color: white;
  text-shadow: 4px 4px 2px black; }

.passion {
  height: 100%;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  font-size: 35px;
  background-color: #c2efb3; }

#interets {
  padding-top: 100px; }

.photo_cercle {
  height: 100px;
  width: 100px;
  border-radius: 50%; }

.footer {
  display: none; }

.blanc {
  height: 2000px; }

#info {
  display: none; }

@media screen and (max-width: 767px) {
  html, body {
    height: 100%;
    overflow: hidden; }

  .raillures {
    bottom: 10%; }

  .raillures2 {
    position: absolute;
    width: 255%;
    transform: rotatez(90deg);
    bottom: 50%;
    right: -30%; }

  .titre {
    position: fixed;
    top: 0px;
    font-size: 60px;
    left: 20%; }

  #accueil {
    overflow: scroll;
    height: 100%; }

  .menu {
    height: 100%;
    top: 5%; }

  .bouton {
    opacity: 1;
    background-color: #5682D9;
    color: white;
    height: 55px;
    margin-right: 10%;
    margin-top: 5%; }

  .bouton:hover {
    animation: none;
    background-color: inherit;
    border-radius: 0px; }

  .recap {
    color: white;
    font-size: 25px; }

  .liste {
    width: 200px;
    font-size: 20px; }

  .logo {
    width: 30px;
    height: 30px; }

  .navbar-fixed-top {
    position: relative; }

  .deroulant {
    display: none; }

  #competences {
    position: relative;
    overflow: scroll;
    border-radius: 0px; }

  a {
    color: white; }

  .titre {
    font-size: 20px;
    padding-top: 10px; }

  .footer {
    display: block;
    text-align: center; }

  .info {
    margin-top: 100px; }

  .liste {
    margin: 0px; }

  .passion {
    font-size: 25px; }

  .icon {
    text-align: left;
    font-size: 15px;
    margin: 15px; }

  #parcours {
    font-size: 25px;
    overflow: scroll;
    height: 100%; }

  #info {
    font-size: 25px;
    display: block; }

  #bouton-accueil {
    display: none; } }

/*# sourceMappingURL=cv_2017.css.map */
